<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo</title>
    <style>
        body, html {
            padding: 0;
            margin: 0;
            background-color: gray;
            display: flex;
            justify-content: center; 
            align-items: center;     
        }
        fieldset{
            display: flex;
            justify-content: center; 
            align-items: center; 
        }
    </style>
</head>
<body>
    <div id="main">
        <h3>
            Hola a la aplicacion: {{ name_app }}
        </h3>

        <button @click="contador++">
            Pulsame: {{contador}}
        </button>
        <form>
            <fieldset>
                <input type="" v-model="username" placeholder="Nombre" name="">
            </fieldset>
            <label>
                Tu nombre es <span id="span_name"> {{username}} </span>
            </label>
        </form>

        <hr>
        <form>

            <input v-model="num1" type="number">
            <br>
            <input v-model="num2" type="number">

            <button v-on:click="resultado = num1 + num2" type="button">
                Sumar
            </button>

            <br>

            <label>
                {{resultado}}
            </label>

        </form>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp, ref } = Vue
    
        createApp({
            setup() {
                const name_app = ref('CanelOS!')
                let contador = ref(0)
                let username = ref('')
                let resultado = ref(0)
                let num1 = ref(0)
                let num2 = ref(0)
                
                return {
                    name_app,
                    contador,
                    username,
                    resultado,
                    num1,
                    num2
                }
            }
        }).mount('#main')
    </script>
</body>
</html>